<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="cn" connectionString="Data Source=LAR_LOQ\SQLEXPRESS;Initial Catalog=VideoGamesStore;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<appSettings>
		<add key="parentTable" value="Departament"/>
		<add key="childTable" value="Produs"/>
		<add key="indexID" value="0"/>
		<add key="childToParentID" value="CodD"/>
		<add key="childNumberOfColumns" value="5"/>
		<add key="childColumnNames" value="CodPr,NumePr,Pret,Cantitate,CodD"/>
		<add key="childColumnTypes" value="int,string,int,int,int"/>
		<add key="childArr" value="@cod,@NumePr,@Pret,@Cantitate,@id"/>
		<add key="childInsert" value="INSERT INTO Produs(CodPr, NumePr, Pret, Cantitate, CodD) VALUES (@cod, @NumePr, @Pret, @Cantitate, @id);"/>
		<add key="childDelete" value="DELETE FROM Produs WHERE CodPr = @id;"/>
		<add key="childUpdate" value="UPDATE Produs set NumePr = @NumePr, pret = @Pret, cantitate = @Cantitate where CodPr = @id;"/>
	</appSettings>
	
	<!--<appSettings>
		<add key="parentTable" value="Pozitie"/>
		<add key="childTable" value="Angajat"/>
		<add key="indexID" value="0"/>
		<add key="childToParentID" value="CodP"/>
		<add key="childNumberOfColumns" value="5"/>
		<add key="childColumnNames" value="CodA,Nume,PlataPeOra,CodD,CodP"/>
		<add key="childColumnTypes" value="int,string,int,int,int"/>
		<add key="childArr" value="@cod,@Nume,@PlataPeOra,@CodD,@id"/>
		<add key="childInsert" value="INSERT INTO Angajat(Nume, PlataPeOra, CodP, CodD) VALUES (@Nume,@PlataPeOra,@id,@CodD);"/>
		<add key="childDelete" value="DELETE FROM Angajat WHERE CodA = @id; "/>
		<add key="childUpdate" value="UPDATE Angajat set Nume=@Nume, PlataPeOra=@PlataPeOra where CodA= @id;"/>
	
	</appSettings>-->
		
</configuration>