<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="cn" connectionString="Data Source=LAR_LOQ\SQLEXPRESS;Initial Catalog=VideoGamesStore;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="parentTable" value="Departament"/>
		<add key="childTable" value="Produs"/>
		<add key="indexID" value="0"/>
		<add key="childToParentID" value="CodD"/>
		<add key="childNumberOfColumns" value="5"/>
		<add key="childColumnNames" value="CodP,NumePr,Pret,Cantitate,CodD"/>
		<add key="childColumnTypes" value="int,string,int,int,int"/>
		<add key="childArr" value="@CodP,@NumePr,@Pret,@Cantitate,@id"/>
		<add key="childInsert" value="INSERT INTO Produs(CodPr, NumePr, Pret, Cantitate, CodD) VALUES (@CodP, @NumePr, @Pret, @Cantitate, @id);"/>
		<add key="childDelete" value="DELETE FROM Produs WHERE CodPr = @id;"/>
		<add key="childUpdate" value="UPDATE Produs set NumePr = @NumePr, pret = @Pret, cantitate = @Cantitate, codD=@codD where codPr = @id;"/>
	</appSettings>

	<!--<appSettings>
		
	
	</appSettings>-->
</configuration>