#main {
	width: 400px;
	border-style: solid;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

#text,#image {
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#text {
	text-align: center; 
	vertical-align: middle;
}

#image img {
	max-width: 200px;
	display: block;
	margin: auto;
	height: auto;
}