html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.header {
	background-color: red;
	height: 20%;
}

.footer {
	background-color: pink;
	height: 18%;
}

* {
	margin: 0;
}

.menu {
	background-color: yellow;
	list-style-type: none;
	border: 1px solid black;
}

.menu li {
	display: inline-block;
	border-right: 1px solid black;
	padding-left: 7%;
	padding-right: 7%;
}

.main {
	background-color: green;
	height: 60%;
}

.header, .footer, .main {
	display: flex;
	justify-content: left;
	align-items: center;
}